/* Основные цвета
#212121 текст загаловки
#757575 описание увага до деталей и тд.
+ под именами
#2F303A банер
#2196F3 основной синий на странице  */

/*основная секция*/
:root{
  --primery-text-color: #212121;
  --secodery-text-color:#757575;
  --white-color: #FFFFFF;
  --accent-color:#2196F3 ;
  --background-color: #FFFFFF;
  --background-color-footer:#2f303a;
  --color:#F5F4FA;
  /* портфолио*/

  --color-text-hiden-focus-portfolio:#FFFFFF;
  --buttons-color-portfolio:#F5F4FA;
  --buttons-color-portfolio-hiden-focus:#2196F3 ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  font-family:'Roboto' , sans-serif;
background-color: var(--background-color);

font-size: 14px;
letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/*хедер секция*/
.header-sheets {
  background-color:var(--white-color);
}
.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-span {
  color: #000;
}
.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
color: var(--primery-text-color)
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodery-text-color);
}
.contact-mail:hover,
.contact-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contact-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodery-text-color);
}
.contact-tel:hover,
.contact-tel:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* галавная секция*/
.hero {
  background-color: #2f303a;
}
.hero-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus{
  background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-lozung {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.list-items .list-name{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primery-text-color)
}
.list-items .list-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secodery-text-color)
}

/* чем мы занимаемся*/
.main-center {
  background-color: var(--background-color);
}
.main-center-tittle {
font-weight: 700;
font-size: 36px;
line-height: 1.16 ;
color: var(--primery-text-color);
}

/* наша команда*/
.our-team {
  background-color: var(--color);
}

.title-foto {
  background:var(--background-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.person-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.position{
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:var(--secodery-text-color)
}

/* подвал*/
.footer {
  background-color: var(--background-color-footer);
}
.logo-span-two {
  color:var(--white-color);
}
.street {
  color:var(--white-color);
  text-decoration:none;
  font-size: 14px;
  line-height: 1.71
}
.a ddress{
  font-style: normal;
}

.tagup {
    text-decoration: none;
    font-family:"Roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .tagup:hover,
    .tagup:focus{
    color: var(--accent-color);
    }



/* страница портфолио*/
            
.cursor{
  cursor: pointer;
}
.color-text:hover,
.color-text:focus{
  color: var(--color-text-hiden-focus-portfolio)
}
/* Кнопка усi */
.buttons-tupe .buttons-one {
  width: 73px;
  height: 38px;
  left: 512px;
  top: 174px;
  background: var(--buttons-color-portfolio);
  border-radius: 4px;
  border: 0cm;
}
.buttons-tupe .buttons-one:hover,
.buttons-tupe .buttons-one:focus {
  width: 73px;
  height: 38px;
  left: 512px;
  top: 174px;
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Кнопка веб-сайти */
.buttons-tupe .buttons-two {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: var(--buttons-color-portfolio);
  border-radius: 4px;
  border: 0cm;
}
.buttons-tupe .buttons-two:hover,
.buttons-tupe .buttons-two:focus {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Кнопка Додатки */
.buttons-tupe .buttons-three {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background:var(--buttons-color-portfolio);
  border-radius: 4px;
  border: 0cm;
}
.buttons-tupe .buttons-three:hover,
.buttons-tupe .buttons-three:focus {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Кнопка Дизайн */
.buttons-tupe .buttons-four {
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
  background: var(--buttons-color-portfolio);
  border-radius: 4px;
  border: 0cm;
}
.buttons-tupe .buttons-four:hover,
.buttons-tupe .buttons-four:focus {
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Кнопка Маркетинг */
.buttons-tupe .buttons-five {
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  background: var(--buttons-color-portfolio);
  border-radius: 4px;
  border: 0cm; 
}
.buttons-tupe .buttons-five:hover,
.buttons-tupe .buttons-five:focus {
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.achives-list .list-photo{
  box-sizing: border-box;  
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }

